<body>
    

<form class="text-center border border-light p-3" id="signupform">
            
    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="text" id="firstname" class="form-control mb-3" placeholder="First name">
    <input type="text" id="lastname" class="form-control mb-3" placeholder="Last Name">
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-3" placeholder="E-mail">



  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-3" placeholder="Password">
  
    <!-- <div class="d-flex justify-content-around"> -->
      <!-- <div> -->
        <!-- Remember me -->
        <!-- <mdb-checkbox [default]="true">Remember me</mdb-checkbox> -->
      <!-- </div> -->
      <!-- <div> -->
        <!-- Forgot password -->
        <!-- <a href="">Forgot password?</a> -->
      <!-- </div> -->
    <!-- </div> -->
  
    <!-- Sign in button -->
    <!-- <a href="/home"> <button   class="btn btn-primary" >Sign up</button></a> -->
   
    <a href="/home" class="btn btn-primary">Sign Up </a>
   

  
    <!-- Register -->
    <p>Already registered?
      <a href="/home">SignIn</a>
    </p>
  
  </form>
</body>