<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flash Cards</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Books" width="500px" height="500px">
        </div>
        <div class="col-md-4">
            <h2>~~ Studies Come First ~~</h2>
            
            <form class="text-center border border-light p-3" id="loginform">
            
              <p class="h4 mb-4">Sign in</p>
            
              <!-- Email -->
              <input type="email" id="defaultLoginFormEmail" class="form-control mb-3" placeholder="E-mail">
            
              <!-- Password -->
              <input type="password" id="defaultLoginFormPassword" class="form-control mb-3" placeholder="Password">
            
             
              <a href="/subjects">Sign in</a>
            
              <!-- Register -->
              <p>New User?
                <a mat-raised-button routerLink='/signup'>Register</a>
              </p>
            
            </form>

        </div>
    </div>

   
</body>
</html>